<h1>Practica 12</h1>
<hr>

<div class="container">
  <fieldset>
    <legend>Seleccione</legend>

    <div class="a">

      <input 
        type="checkbox"
        id="faceptar"
        placeholder="aceptar"
        name="aceptar"
        >
  
      <label for="faceptar" class="lbl">Opcion  A</label>
    </div>
      <!-- <small class="text-danger">
    Debe aceptar para poder guardar
  </small> -->


  <div class="b">

    <input 
      type="checkbox"
      id="faceptar"
      placeholder="aceptar"
      name="aceptar"
      >

    <label for="faceptar" class="lbl">Opcion  B</label>
  </div>
    <!-- <small class="text-danger">
  Debe aceptar para poder guardar
</small> -->


<div class="c">

  <input 
    type="checkbox"
    id="faceptar"
    placeholder="aceptar"
    name="aceptar"
    >

  <label for="faceptar" class="lbl">Opcion  C</label>
</div>
  <!-- <small class="text-danger">
Debe aceptar para poder guardar
</small> -->


<div class="d">

  <input 
    type="checkbox"
    id="faceptar"
    placeholder="aceptar"
    name="aceptar"
    >

  <label for="faceptar" class="lbl">Opcion  D</label>
</div>
  <!-- <small class="text-danger">
Debe aceptar para poder guardar
</small> -->



<div class="e">

  <input 
    type="checkbox"
    id="faceptar"
    placeholder="aceptar"
    name="aceptar"
    >

  <label for="faceptar" class="lbl">Opcion  E</label>
</div>
  <!-- <small class="text-danger">
Debe aceptar para poder guardar
</small> -->




  </fieldset>
</div>
